body{

    /*background: rgb(180,221,180);*/
    /*background: -moz-radial-gradient(rgba(180,221,180,1) 0%, rgba(131,199,131,1) 17%, rgba(82,177,82,1) 33%, rgba(0,138,0,1) 67%, rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%);*/
    /*background: -webkit-radial-gradient(rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%);*/
    /*background: radial-gradient(ellipse at center,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 );*/

}


._logo{
    display: block;
    margin: auto;
    width: 500px;
}

._map{
    position: relative;
    display: block;
    margin: auto;
    background-image: url("practice/img/game_map.png");
    height: 750px;
    width: 750px;



}
/*css test for positioning sprite relative to surrounding div*/
._testsprite{
    /*draw image*/
    background-image: url("practice/img/game_down.png");
    height: 100px;
    width: 100px;

    /*set position*/
    position: inherit;
    left: -25px;
    top: -50px;
}



._downsprite{
    /*draw image*/
    background-image: url("practice/img/game_down.png");
    height: 100px;
    width: 100px;

    /*set position*/
    position: inherit;
    /*left: 950px;*/
    /*top: 200px;*/
}

._upsprite{
    /*draw image*/
    background-image: url("practice/img/game_up.png");
    height: 100px;
    width: 100px;

    /*set position*/
    position: inherit;
    /*left: 950px;*/
    /*top: 200px;*/
}

._leftsprite{
    /*draw image*/
    background-image: url("practice/img/game_left.png");
    height: 100px;
    width: 100px;

    /*set position*/
    position: inherit;
    /*left: 950px;*/
    /*top: 200px;*/
}

._rightsprite{
    /*draw image*/
    background-image: url("practice/img/game_right.png");
    height: 100px;
    width: 100px;

    /*set position*/
    position: inherit;
    /*left: 950px;*/
    /*top: 200px;*/
}

._coinsprite{
    /*draw image*/
    background-image: url("practice/img/game_gold.png");
    height: 35px;
    width: 35px;

    /*set position*/
    position: inherit;
    /*left: 950px;*/
    /*top: 200px;*/
}